body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #666666;
    border: none;
    height: 100vh;
    overflow-x: hidden;
    text-align: center;
    border-color: none;

  }

  .vermelho {
    width: 200%;
    height: 93px;
    background-color: rgb(248, 0, 50);
  }

  header {
    position: relative;
    top: -67px;
    right: -67px;
  }

  img {
    height: 36px;
    position: absolute;
    left: 41px;


  }

  section {
    margin-bottom: 60px;

  }

  h2 {
    font-size: 36px;
    position: absolute;
    left: 200px;
    bottom: 950px;
    right: 157px;
    text-align: center;
    margin-bottom: 20px;
    height: 0px;
    border-color: #999999;
    top: -138px;
  }

  .conteine {
    position: absolute;
    top: 270px;
    right: 300px;
  }


  #segundo {
    max-width: 590px;
    font-size: 20px;
    color: #666;
    text-transform: lowercase;
    margin-bottom: 0px;
    text-align: center;
    position: absolute;
    top: -70px;
    left: 90px;

  }

  #terceiro {
    margin: 0px 0px 36px;
    font-size: 13px;
  }

  #ponto {
    color: red;
    font-size: 16px;
    margin-right: 3px;
    width: 200px;
    height: 200px;

  }

  .opçoes {
    width: 24px;
    height: 24px;
    padding: 30px;


  }

  .cntopçoes {
    padding: 0px 0px 0px 5px;
    color: #666;
  }

  .conjunto1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0px 0px 15px 0px;
    width: 80%;
    height: 27px;
  }

  #inputum {
    width: 368px;
    height: 48px;
    border: solid 1px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
     left: -61px;

  }

  #nome {
    position: absolute;
    top: 50px;
    left: 162px;

  }

  #nome2 {
    position: absolute;
    top: 140px;
    left: 164px;
  }

  #nomedoiss {
    font-size: 0.875rem;
    position: absolute;
    left: 168px;
  }

  #nome3 {
    position: absolute;
    left: 161px;
  }

  #nome33 {
    position: absolute;
    left: 172px;
    font-size: 0.875rem;
  }

  #nome4 {
    position: absolute;
    left: 170px;
    width: 98px;
    height: 37px;
    margin: -11px -1px;
    padding: 1px 1px 4px 15px;
    border: solid 1px #999999;
    border-radius: 9px 8px 8px 8px;
  }

  #inputum {
    border: solid 1px #999999;
  }

  .abaixa {
    margin: 19px 124px 0px 54px;
    padding: 0px;
  }

  #cpf {
    position: absolute;
    left: 170px;
    font-size: 1rem;
  }

  #cpf1 {
    position: absolute;
    left: 172px;
    font-size: 0.875rem;
  }

  #cpf2 {
    width: 138px;
    height: 20px;
    padding: 1px 1px 4px 15px;
    border: solid 1px #999999;
    border-radius: 9px 8px 8px 8px;
    margin: 0px 7px 0px 0px;
    position: absolute;
    left: 170px;
  }

  #link1 {
    position: absolute;
    margin: 14px 3px 0px -201px;
    color: #666666;
    padding: 4px 0px 14px;
  }

  #primeiros {
    padding: 10px;
    margin: 7px -66px 0px -37px;
  }

  #segundoo {
    position: absolute;
    left: 180px;
    margin: -6px -8px 0px -11px;
  }

  #ppk {
    color: red;
  }

  .doismenor {
    padding: 13px;

  }

  #terceiroo {
    position: absolute;
    left: 178px;
    top: 456px;
    font-size: 0.875rem;
    margin-bottom: 10px;

  }

  #terceiro1 {
    width: 147px;
    height: 39px;
    border-radius: 8px;
    border: solid 1px #999999;
    margin: 20px 132px 10px -142px;

  }

  .doismenor {
    padding: 9px 94px 19px 11px;
    margin: -11px;

  }

  #rcb {
    margin: 9px 2px 35px 13px;

  }

  #cincom {
    position: absolute;
    left: 160px;

  }

  #emaill {
    padding: 1px 2px;
    height: 30px;
    width: 265px;
    border: solid 1px #666666;
    border-radius: 8px;
    margin-bottom: 17px;
    margin:8px 19px 45px -89px
  }

  #pequeno {
    color: #666666;
    font-size: 0.770rem;
    position: absolute;
    left: 157px;
    margin: 4px;
    padding: 0px;
  }

  #denovo {
    position: absolute;
    left: 156px
  }

  #caiu {

    margin-top: 23px;
    margin-bottom: 20px;

  }

  #senha1 {
    position: absolute;
    left: 157px;
  }

  #senha2 {
    font-size: 0.770rem;
    margin-left: -177px;
    position: relative;
    top: -19px;
    color: #666666;

  }

  #ponto4 {
    color: red;
  }
  #rcb{
    margin: 9px 6px 35px -109px;
  }
  #sms1{ position: relative;
    left: -59px;
  
  }
  #btnn{
    position: relative;
    left: -149px;
}
#fraca{
  position: relative;
left: -147px;
}
#fracaum{
  position: relative;
left: -138px;
top: -7px;
}
#dados1{
  position: relative;
left: -250px;
bottom: -20px;
}
#dados2{
  display: block;
position: relative;
left: -69px;

}
#btnk{
  text-align: center;
color: rgb(255, 255, 255);
font-weight: 700;
background-color: #f80032;
border: 1px solid rgb(248, 0, 50); 
border-radius: 8px;
padding: 12px;
height: 48px;
width: 392px;
text-align: center;
position: relative;           
left: -49px;
margin: -6px 0px 12px 0px;
cursor: pointer;
font-size: 14px;
text-transform: full-size-kana;
}
       
#btnk:hover{
transition: all 4.ms;
background-color: rgb(235, 51, 67);
}
#puro1{
color:#666;
}
.nnn{
color: rgb(102, 102, 102);
font-weight: bold;
}
#haha{color:red; 
position:relative;
left: -4px;

}